*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
/* Tipografía */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* font-family: "Inter", sans-serif; */

/* -------------------------------------------------------------------- */
/* 1. Reset
2. Variables
3. Tipografía
4. Estilos generales
5. Header
6. Hero
7. Botones
8. Cards
9. Formularios
10. Footer
11. Animaciones
12. Media Queries
    - Tablet
    - Desktop */

/* ------------------------------------------------------- */

/* Estilos generales */

body {
    font-family: "Inter", sans-serif;
}

hr{
    border: 0;
    border-top: 1px solid #444444;
    margin: 0;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: #666666;
  border: none;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* ==========================
   HEADER
========================== */

header, footer {
    background-color: #171717;
    color: #ffffff;
}
header {
    font-size: 1.5rem;
}
.fondoNav {
    background-color: #171717;
    padding: 10px 0;
}
.logoHeader{
    max-width: 180px;
    width: 100%;
    height: auto;
}

/* Enlaces del menú */
.navbar .nav-link {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
    transition: color .3s ease;
}

/* Hover */
.navbar .nav-link:hover {
    color: #444444;
}

/* Página activa */
.navbar .nav-link.active {
    color: #db0038 !important;
    font-weight: 700;
}
.btnSell {
    background-color: #db0038;
    color: #ffffff;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
}
.btn:hover {
    background-color: #ae002f;
    color: white;
}

.navbar-toggler {
    border-color: #171717;
}

.navbar-toggler:focus {
    box-shadow: none;
}


/* ==========================
   MAIN
========================== */

main {
    background-color: #ffffff;
    color: #171717;
}

/* ////// HERO /////// */

.hero {
    position: relative;
    min-height: 600px;
    background-image: 

        linear-gradient(#171717d9),   
        url(../assets/heroMobile.webp);

    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 40px 20px;
}

.heroContent {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.hero h1 {
    margin: 0 0 25px;
    color: white;
    font-size: 4rem;
    line-height: 1.05;
    font-weight: 700;
}

.hero p {
    margin: 0 0 35px;
    color: white;
    font-size: 1.5rem;
    line-height: 1.5;
}

.heroButtons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45px;
    padding: 0 30px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btnPrimary {
    background-color: #db0038;
    color: white;
}

.btnPrimary span {
    margin-left: 15px;
    font-size: 1.5rem;
}

.btnPrimary:hover {
    background-color: #ab002d;
}

.btnSecondary {
    border: 2px solid white;
    color: white;
    background-color: transparent;
}

.btnSecondary:hover {
    border: 2px solid white;
    background-color: #ffffff2d;
    color: white;

}

/* ////// SECTION VEHICULOS DESTACADOS /////// */

.featuredCars {
    padding: 50px 20px;
    background-color: #ededed;
}

/* Título */

.sectionTitles {
    text-align: center;
    margin-bottom: 35px;
}

.sectionTitles h2 {
    margin: 0 0 10px;
    color: #171717;
    font-size: 3.5rem;
    font-weight: 700;
}

.sectionTitles p {
    margin: 0;
    color: #444444;
    font-size: 1.9rem;

}

/* Grid */

.carsGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

/* Card */

.carsCard {
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 18px #17171732;
}

/* Imagen */

.carsImage {
    position: relative;
    width: 100%;
    height: 220px;
}

.carsImage img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* Año */

.carsYear {
    position: absolute;
    top: 15px;
    right: 15px;

    padding: 7px 13px;

    background-color: #db0038;
    color: white;

    border-radius: 20px;

    font-size: 1rem;
    font-weight: 600;
}

/* Contenido */

.carsContent {
    display: flex;
    padding: 18px;
    flex-direction: column;
}

.carsContent h3 {
    margin: 0 0 6px;
    color: #171717;
    font-size: 2rem;
    font-weight: 700;
}

/* Precio */

.carsPrice {
    color: #db0038;

    font-size: 2rem;
    font-weight: 700;
}

/* Tags */

.carsTags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    margin-bottom: 20px;
}

.carsTags span {
    padding: 2px 11px;
    background-color: #eceeed;
    color: #56616e;

    border-radius: 20px;

    font-size: 1.2rem;

}

/* Botones card */

.carsButtons {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.carsButtons .btnPrimary {
    flex: 3;
    min-width: 0;
}


.carsButtons .btnInfo {
    flex: 1;
    min-width: 0;
    border: 2px solid #db0038;
    color: #db0038;
    background-color: transparent;
}

.btnInfo:hover {
    border: 2px solid #db0038;
    background-color: #eb00370b;
    color: #db0038;

}

/* Boton catalogo */

.ctaContainer {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

/* ////// SECTION BENEFICIOS /////// */

.bonus {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
}

.bonusGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    margin: 0 auto;
}

.bonusCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bonusImage {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bonusImage img {
    width: 70px;
    display: flex;
    object-fit: cover;
}
.bonusContent {
    display: flex;
    padding: 18px;
    flex-direction: column;
}

.bonusContent h3 {
    justify-content: center;
    color: #171717;
    font-size: 2rem;
    font-weight: 700;
}

.bonusContent p {
    margin: 0;
    color: #444444;
    font-size: 1.5rem;
}

/* ////// CTA /////// */

.cta {
    background-color: #171717;
    padding: 6rem 2rem;
}

.cta h2 {
    color: white;
}

.cta p {
    color: #b7b7b7;
}

/* ////// HERO PÁGINAS INTERNAS /////// */

.heroInner {
    background-color: #171717;
    padding: 5rem 2rem;
    text-align: center;
    border-top: 1px solid #444444;
}

.heroContainer {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.heroTitle {
    font-size: 4rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1.6rem;
}

.heroText {
    font-size: 1.9rem;
    color: #b9b9b9;
    line-height: 1.5;
}

/* ////// PÁGINAS CATÁLOGO /////// */

.allCars {
    padding: 40px 20px;
    background-color: #ededed;
}

.vehicleType {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.badgeCars {
    display: inline-flex;
    align-items: center;
    padding: 0.8rem 2rem;
    border-radius: 3rem;
    background-color: #d4d4d4;
    color: #6e7682;
    font-size: 1.7rem;
    font-weight: 700;
    gap: 1rem;
}

.badgeCars img {
    height: 20px;
    width: auto;
}

.showing {
    font-size: 1.5rem;
    font-weight: 500;
    color: #555555;
    padding: 1rem 0;
    margin: 0;
}

.detailCard {
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 18px #17171732;
}

.carsType {
    position: absolute;
    top: 15px;
    left: 15px;

    padding: 7px 13px;

    background-color: #22222288;
    color: white;

    border-radius: 20px;

    font-size: 1rem;
    font-weight: 600;
}

.carsSpecs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    margin: 1.5rem 0 2.5rem 0;
    /* margin-bottom: 2.5rem; */
}

.specItem{
    display:flex;
    align-items:center;
    gap:.8rem;
    font-size:1.5rem;
    color:#555;
}

.specItem img{
    width:18px;
}

/* ////// Nuestra historia/////// */


.history{
    padding: 4rem 2rem 0 2rem;
}

.historyToday{
    padding: 2rem 2rem 4rem 2rem;
    background-color: #ededed;
}


.historyContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: min(1200px, 100%);
    margin: auto;
}

.historyImage{
    width: 100%;
}

.historyImage img{
    display: block;
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: right center;

    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(0,0,0,.15);
}

.historyToday .historyImage img{
    display: block;
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: center;

    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(0,0,0,.15);
}


.historyContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.historyContent h2{

    font-size: 2.5rem;
    font-weight: 700;

    color: #172033;

    margin-bottom: 2rem;
}

.historyContent p{

    font-size: 1.3rem;
    line-height: 1.8;

    color: #4d5668;

    margin-bottom: 2rem;
}

.historyContent strong{
    color: #172033;
}

/* ////// Servicios/////// */








/* ==========================
   FOOTER
========================== */

footer {
    background-color: #171717;
    color: white;
    padding: 5rem 2rem 2rem;
    border-top: 1px solid #444444;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.footerColumn h3 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.footerLogo {
    width: 180px;
    margin-bottom: 2rem;
}

.footerDescription {
    color: #d4d4d4;
    font-size: 1.5rem;
    line-height: 1.5;
}

.footerLinks, 
.footerContact ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerLinks li, .footerContact li {
    margin-bottom: 1.4rem;
}

.footerLinks a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.footerLinks a:hover {
    color: #444444;
}

.footerContact{

    font-style: normal;
    margin-top: 2rem;

}

.itemContact{

    display: flex;
    align-items: center;
    gap: 1.2rem;


}

.iconContact{

    width: 2rem;
    height: 2rem;

    flex-shrink: 0;

}

.footerContact p{

    font-size: 1.6rem;
    line-height: 1.6;

}

.footerContact a{

    color: #ffffff;
    text-decoration: none;
    font-size: 1.4rem;

}

.footerContact a:hover{

    color: #444444;

}

.footerSocial {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.footerSocial a {
    width: 4rem;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background: #4a4a4a;

    color: white;

    transition: .3s;
}

.footerSocial a:hover {
    background: #db0038;
}

.footerSocial a svg{
    width: 4rem;
    height: 4rem;
}

.footerHours {
    font-size: 1.3rem;
    line-height: 1.8;
}

.upButton {
    text-align: right;
    padding: 0 20px 10px 20px;
}
.up {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #444;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    font-size: 1.2rem;
}
.up:hover {
    color: white;
    background-color: #db0038;
}

.footerBottom {
    border-top: 1px solid #444444;
    margin-top: 2rem;
    padding-top: 2rem;

    text-align: center;
    
    font-size: 1.2rem;
    color: #d4d4d4;
}




/* ============ MEDIA QUERY ============ */

/* TABLET */

@media (min-width: 501px) and (max-width: 1023px) {
    
    /* Header */
    header {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .logoHeader{
        width:210px;
    }

    .navbar-nav{
        margin:2rem 0;
    }

    .btnSell{
        width:220px;
    }
    
    /* Hero */

    .hero {

        min-height: 650px;
        padding: 60px 50px;
        background-image:
            linear-gradient(#171717d9),   
            url(../assets/heroTablet.webp);

        background-position: center;
    }

    .heroContent {
        max-width: 650px;
    }

    .hero h1 {
        font-size: 3.5rem;
    }

    .hero p {
        font-size: 1.8rem;
    }

    .heroButtons {
        flex-direction: row;
    }

    .btn {
        min-width: 220px;
    }

    /* Sección vehiculos destacados */

    .featuredCars {
        padding: 60px 20px;
    }

    .carsGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .carsImage {
        height: 220px;
    }

    .bonusGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .cta{
        padding: 60px 20px;
    }

    /* Hero paginas internas */

    .heroCatalogo {
        padding: 4rem 2rem;
    }

    .heroTitle {
        font-size: 4rem;
    }

    .heroText {
        font-size: 2rem;
    }

    .allCars .carsGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    /* Nuestra historia */

    .history{
        padding: 6rem 4rem 0rem 4rem;
    }

    .historyToday {
        padding: 2rem 4rem 6rem 4rem;
    }

    .historyImage img{
        height: 420px;
    }

    .historyToday .historyImage img{
        height: 420px;
    }


    .historyContent h2{
        font-size: 3rem;
    }

    .historyContent p{
        font-size: 1.5rem;
    }

    /* Footer */

    .footerContainer{

        flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-between;

    }

    .footerColumn{

        width: 48%;

    }




}

/* DESKTOP */

@media (min-width: 1024px) {
    
    /* Header */

    header nav ul{
        flex-direction: row;
    }

    .fondoNav {
        padding: 13px 0;
    }

    .logoHeader{
        width:250px;
        max-width: none;
    }

    .navbar .container {
        max-width: 1200px;
        margin: 0 auto !important
    }

    .navbar-collapse{
        display: flex;
        align-items: center;
        justify-content:flex-end;
    }

    .navbar-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 2rem 0 0;
    }

    .navbar-nav .nav-item{
        margin: 0.5rem;
    }
 
    .btnSell{
        margin: 0;
    }

    /* HERO */

    .hero {
        min-width: 700px;
        padding: 80px 6%;
        background-image:

            linear-gradient(#171717d9),   
            url(../assets/heroDesktop.webp);
        
        background-position: center;        
    }

    .heroContent {
        max-width: 700px;
    }

    .hero h1 {
        font-size: 6rem;
        line-height: 1.05;
        margin-bottom: 25px;
    }

    .hero p {
        max-width: 700px;
        font-size: 2rem;
        margin-bottom: 35px;
    }

    .heroButtons {
        flex-direction: row;
        gap: 20px;
    }

    .btn {
        min-width: 200px;
        min-height: 45px;
        font-size: 1.5rem;
    }

    /* Sección vehiculos destacados */

    .featuredCars {
        padding: 65px 100px;
    }

    .sectionTitles {
        margin-bottom: 45px;
    }

    .sectionTitles h2 {
        font-size: 4rem;
    }

    .sectionTitles p {
        font-size: 2rem;
    }

    .carsGrid {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }

    .carsImage {
        height: 260px;
    }

    .carsContent {
        padding: 25px;
    }

    .bonus {
        padding: 65px 0;
    }


    .bonusGrid {
        grid-template-columns: repeat(4, 1fr);
    }

    .bonusContent p {
        font-size: 1.5rem;
    }

    .cta{
        padding: 65px 0;
    }

    /* Hero paginas internas */

    .heroInner {
        padding: 6rem 2rem;
    }

    .heroTitle {
        font-size: 5rem;
    }

    .heroText {
        font-size: 2rem;
    }

    /* Todos los vehículos */

    .allCars {
        padding: 50px 20px;
        background-color: #ededed;
    }

    .allCars .carsGrid {
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
    }

    /* Nuestra historia */

    .history {
        padding: 8rem 6rem 2rem 6rem;
    }

    .historyToday {
        padding: 3rem 6rem 8rem 6rem;
    }

    .historyContainer {
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }

    .historyImage{
        flex: 1;
        min-width: 0;
    }

    .historyContent{
        padding-inline: 1rem;
        flex: 1;
        min-width: 0;
    }

    .historyImage img{
        width: 100%;
        height: 400px;
        border-radius:18px;
        object-fit:cover;
        object-position: right center;
        box-shadow:0 12px 35px rgba(0,0,0,.15);
    }

    .historyToday .historyImage img{
        width: 100%;
        height: 400px;
        border-radius:18px;
        object-fit:cover;
        object-position: center;
        box-shadow:0 12px 35px rgba(0,0,0,.15);
    }


    .historyContent h2{
        font-size: 3.5rem;
        margin-bottom: 1.8rem;
    }

    .historyContent p{
        font-size: 1.5rem;
        line-height: 1.9;
        margin-bottom: 1.5rem;
    }


    /* Footer */

    .footer{
        padding:7rem 8rem 2rem;
    }

    .footerContainer{
        flex-direction:row;
        justify-content:space-between;
        align-items:flex-start;
        gap:5rem;
        margin: 0 100px;
    }

    .footerColumn{
        flex:1;
    }

    .footerColumn:first-child{
        max-width:320px;
    }





}


