@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.history {
    padding: 4rem 2rem 0 2rem;

    @include tablet {
        padding: 6rem 4rem 0rem 4rem;
    }

    @include desktop {
        padding: 8rem 6rem 2rem 6rem;
    }
}

.historyToday {
    padding: 2rem 2rem 4rem 2rem;
    background-color: $color-gray-light;

    .historyImage img {
        display: block;
        width: 100%;
        height: 280px;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;
        box-shadow: $shadow-history;

        @include tablet {
            height: 420px;
        }

        @include desktop {
            width: 100%;
            height: 400px;
            border-radius: 18px;
            object-fit: cover;
            object-position: center;
            box-shadow: $shadow-history-desktop;
        }
    }

    @include tablet {
        padding: 2rem 4rem 6rem 4rem;
    }

    @include desktop {
        padding: 3rem 6rem 8rem 6rem;
    }
}

.historyContainer {
    @include flex-column;
    gap: 2rem;
    width: min(1200px, 100%);
    margin: auto;

    @include desktop {
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }
}

.historyImage {
    width: 100%;

    img {
        display: block;
        width: 100%;
        height: 280px;
        object-fit: cover;
        object-position: right center;
        border-radius: 20px;
        box-shadow: $shadow-history;

        @include tablet {
            height: 420px;
        }

        @include desktop {
            width: 100%;
            height: 400px;
            border-radius: 18px;
            object-fit: cover;
            object-position: right center;
            box-shadow: $shadow-history-desktop;
        }
    }

    @include desktop {
        flex: 1;
        min-width: 0;
    }
}

.historyContent {
    @include flex-column;
    justify-content: center;

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        color: $color-dark-subtle;
        margin-bottom: 2rem;

        @include tablet {
            font-size: 3rem;
        }

        @include desktop {
            font-size: 3.5rem;
            margin-bottom: 1.8rem;
        }
    }

    p {
        font-size: 1.3rem;
        line-height: 1.8;
        color: $color-gray-body;
        margin-bottom: 2rem;

        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop {
            font-size: 1.5rem;
            line-height: 1.9;
            margin-bottom: 1.5rem;
        }
    }

    strong {
        color: $color-dark-subtle;
    }

    @include desktop {
        padding-inline: 1rem;
        flex: 1;
        min-width: 0;
    }
}